[Unit]
Description=HyperSnitch is a sophisticated webscraper
After=network.target

[Service]
ExecStart=/root/.local/bin/poetry run python /root/hypersnitch/main.py
WorkingDirectory=/root/hypersnitch
StandardOutput=journal
StandardError=journal
Restart=always
User=root

[Install]
WantedBy=multi-user.target